.sidebar {
  display: none;
}

.course-img {
  width: 340px;
  border-bottom: 1px solid #d1d7dc;
}

.buy-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d1d7dc;
}

.training-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.price-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 32px;
  margin: 0;
}

.old-price {
  font-size: 18px;
  color: rgb(94, 94, 94);
  text-decoration: line-through;
  margin: 0;
}

.percent-off {
  font-size: 18px;
  margin: 0;
}

.days-left {
  font-size: 14px;
  color: rgb(190, 0, 0);
  margin: 0;
  padding: 2px;

  display: flex;
  align-items: center;
}

.days-left strong {
  margin-right: 3px;
}

.sidebar-btn {
  background-color: white;
  border: 1px solid black;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  padding: 14px;
  cursor: pointer;
}

.sidebar-btn:hover {
  filter: brightness(90%);
}

.purple-btn {
  color: white;
  background-color: #a435f0;
  border-color: #a435f0;
}

.trial-period {
  text-align: center;
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 0;
}

.includes {
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 0px;
}

.includes-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  font-size: 14px;
}

.includes-list div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.includes-list li {
  margin-left: 15px;
}

.options-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-top: 5px;
}

.options-container p {
  margin-top: 5px;
  cursor: pointer;
}

.training-heading {
  margin-top: -8px;
  margin-bottom: 8px;
  font-size: 19px;
}

.training-text {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 14px;
}

.training-btn {
  margin: 0px;
  font-size: 14px;
  padding: 10px;
}

@media screen and (min-width: 1080px) {
  .sidebar {
    flex-shrink: 0;
    display: block;
    width: 340px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    background-color: white;

    position: absolute;
    left: 60%;
    right: auto;
    top: 304px;
    bottom: auto;

    margin-left: 60px;
  }

  .sidebar-sticky {
    position: sticky;
    left: 0;
    right: 0;
    top: 16px;
    bottom: auto;
    height: 665px;
  }
}
