.main-container {
  width: 1200px;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.main-content {
  width: 700px;
  max-width: 100%;
}

@media screen and (min-width: 1080px) {
  .main-container {
    justify-content: flex-end;
  }

  .main-content {
    max-width: 60%;
  }
}
